body {
    margin: 50;
    text-align: center;
    background: rgb(221, 221, 221);

}

div.my_name{
    padding-left: 10;
    padding-right: 10;
    background: rgb(0, 127, 212);
    box-shadow: 10px 19px 20px rgba(0,0,0,0.30), 10px 15px 12px rgba(0,0,0,0.22);
}

div.the_content{
    margin-left: 100;
    margin-right: 100;
    background: rgb(136, 207, 255);
    box-shadow: 10px 19px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}