body {
    background-image: url("C:/Users/seenaa/Desktop/seenaam/images/2.jpg");
    background-repeat: repeat;
    background-size: 400px;
    font-family: "Brush Script MT", cursive;
}

#my_image{
    align-items: center;
    /* margin-top: 9px; */
    box-shadow: rgba(0, 0, 0, 0.45) 9px 25px 20px -20px;
}

#sidebar{
    float: left;
    width: 14%; 
    text-align: center;
    /* backdrop-filter: blur(10px); */
    background-color: cornsilk;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

div.back_div{
    /* backdrop-filter: blur(10px); */
    background-color: cornsilk;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    width: 70%; height: 95%;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

div.title{ 
    margin: auto;
    border-radius: 2% 2% 0% 0%;
    /* backdrop-filter: blur(100px); */
    padding: 5px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 35px 20px -20px;
    box-sizing: border-box;
}

div.the_content{
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 1px;
    box-sizing: border-box;
}

div.contact{
    margin: auto;
    margin-top: 10px;
    width: 60%;
    text-align: center;
    padding: 10px;
    border-radius: 2%;
    box-sizing: border-box;
    /* backdrop-filter: blur(15px); */
    background-color: cornsilk;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



